<div class="gw-col csm-placement-id-STATIC_FALLBACK_desktop-grid-1_PID STATIC_FALLBACK_desktop-grid-1_CID celwidget" data-cid="STATIC_FALLBACK_desktop-grid-1_CRID" data-csa-c-content-id="amzn1.sym.STATIC_FALLBACK_desktop-grid-1_PID" data-csa-c-slot-id="desktop-grid-1" data-csa-c-type="widget" data-csa-op-log-render="" data-display-at="smws" data-gwi='{"visible":"desktop-grid-1-visible","active":"desktop-grid-1-active"}' data-order-sm="1" data-order-ws="1" id="desktop-grid-1"><style>.a-cardui.fluid-fat-image-link .a-cardui-body .center-image{height:100%;width:100%}
.fluid-card{-webkit-box-orient:vertical;-webkit-box-direction:normal;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column}.fluid-card.a-cardui .a-cardui-body{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;height:275px;margin-bottom:44px;padding:0 20px}
.fluid-image-container{height:100%;overflow:hidden;position:relative;width:100%}.fluid-image-container img{bottom:-9999px;left:-9999px;margin:auto;position:absolute;right:-9999px;top:-9999px}.fluid-image-container .landscape-image{height:100%;max-height:100%;max-width:none}.fluid-image-container .portrait-image{max-height:none;max-width:100%;width:100%}</style>
<div class="a-cardui fluid-fat-image-link fluid-card fluid-fat-image-link" data-a-card-type="basic" id="hQrLHzEecJyJotKoS9a_4g">
<div class="a-cardui-header">
<h2 class="a-color-base headline truncate-2line">Makeup products</h2>
</div>
<div class="a-cardui-body">
<a class="a-link-normal center-image aok-block image-window" href="/b?node=1374357031">
<div class="a-section a-spacing-none fluid-image-container">
<img alt="Up to 30% off | Makeup products" class="landscape-image" data-a-hires="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Beauty/GW/desktop/Make-up-CC_desktop_2x._SY608_CB466075844_.jpg" src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Beauty/GW/desktop/Make-up-CC_desktop_1x._SY304_CB466075850_.jpg"/>
</div></a>
</div>
<div class="a-cardui-footer">
<a class="a-link-normal see-more truncate-1line" href="/b?node=1374357031">See more</a>
</div>
</div>